<h3 style="font-weight: bold; margin-top: 30px; margin-bottom: 10px;">Publication</h3>

AI in Customer Journeys: A Transformer Approach<br>
Zipei Lu, P. K. Kannan<br>
<em>Forthcoming, Journal of Marketing Research</em><br>


<table style="border: none; margin-top: 10px;">
  <tr style="border: none;">
    <td style="border: none; padding: 5px 10px; text-align: center;">
      <a href="#" onclick="toggleAbstract(); return false;" ">Abstract</a>
    </td>
    <td style="border: none; padding: 5px 10px; text-align: center;">
      <a href='#'>Manuscript</a>
    </td>
    <td style="border: none; padding: 5px 10px; text-align: center;">
      <a href='#'>Web Appendix</a>
    </td>
    <td style="border: none; padding: 5px 10px; text-align: center;">
      <a href='#'>Blog</a>
    </td>
    <td style="border: none; padding: 5px 10px; text-align: center;">
      <a href='#'>Code</a>
    </td>
  </tr>
</table>

<div id="abstract" style="display: none; margin-top: 10px; padding: 15px; ">
  <p><strong>Abstract:</strong> When analyzing a sequence of customer interactions, it is important for firms to understand how these 
    interactions align with key objectives, such as generating qualified customer leads, driving conversion events, or reducing churn. 
    We introduce a transformer-based framework that models customer interactions in a sequence similar to how a sentence is modeled as a sequence of 
    words by Large Language Models. We propose a heterogeneous mixture multi-head self-attention mechanism that captures individual heterogeneity in 
    touchpoint effects. The model identifies self-attention patterns that reflect both population-level trends and the unique relationships between 
    touch points within each customer journey. By assigning varying weights to each attention head, the model accounts for the distinctive aspects of 
    the journey of each user. This results in more accurate predictions, enabling precise targeting and outperforming existing approaches such as 
    hidden Markov models, point process models, and LSTMs.  Our empirical application in a multichannel marketing context demonstrates how managers 
    can leverage the model’s features to identify high-potential customers for targeting.  Extensive simulations further establish the model’s superiority 
    over competing approaches. Beyond multichannel marketing, our transformer-based model also has broad applicability in customer journeys across other 
    domains.</p>
</div>

<script>
function toggleAbstract() {
  var abstract = document.getElementById("abstract");
  if (abstract.style.display === "none") {
    abstract.style.display = "block";
  } else {
    abstract.style.display = "none";
  }
}
</script>
