<h3 style="font-weight: bold; margin-top: 30px; margin-bottom: 10px;">Work In Progress</h3>

<b>AI-Generated Customer Journeys under Privacy Regulation</b><br>
Zipei Lu, Michael Trusov, Liye Ma, and P. K. Kannan<br>


<table style="border: none; margin-top: 0px; margin-bottom: 10px;">
  <tr style="border: none;">
    <td style="border: none; padding: 5px 10px; text-align: center;">
      <a href="#" onclick="toggleAbstract(); return false;" ">Abstract</a>
    </td>
    <td style="border: none; padding: 5px 10px; text-align: center;">
      <a href='#'>Blog</a>
    </td>
  </tr>
</table>

<div id="abstract" style="display: none; margin-top: 10px; padding: 15px; border-left: 4px solid #6c757d; ">
  <p><strong>Abstract:</strong> </p>
</div>

<b>Visual Competition in Online Market Place</b><br>
Zipei Lu, P. K. Kannan and Michel Wedel<br>


<table style="border: none; margin-top: 0px; margin-bottom: 10px;">
  <tr style="border: none;">
    <td style="border: none; padding: 5px 10px; text-align: center;">
      <a href="#" onclick="toggleAbstract(); return false;" ">Abstract</a>
    </td>
    <td style="border: none; padding: 5px 10px; text-align: center;">
      <a href='#'>Blog</a>
    </td>
  </tr>
</table>

<div id="abstract" style="display: none; margin-top: 10px; padding: 15px; border-left: 4px solid #6c757d; ">
  <p><strong>Abstract:</strong> </p>
</div>

<script>
function toggleAbstract() {
  var abstract = document.getElementById("abstract");
  if (abstract.style.display === "none") {
    abstract.style.display = "block";
  } else {
    abstract.style.display = "none";
  }
}
</script>
